<% include partials/header %>
<br><br><br><br><br>
<div clas='ui container'>
        <div class='ui grid'>
            <div class='five wide column'></div>
            <div class='six wide column'>
                <div class='ui raised segment'>
                    <form class='ui form' method="post" action='/'>
                        <div class='field'>
                            <label><i class='user icon'></i>Username: </label>
                            <input type="text" name="ano" placeholder="Username">
                        </div>
                        <div class='field'>
                            <label><i class='key icon'></i>Password: </label>
                            <input type="text" name="password" placeholder="Password">
                        </div>
                        <button class="ui orange button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        <div class='five wide column'></div>
</div>



<% include partials/footer %>